
<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="http://0x16.cf/elk-css/css/main.css">
<link rel="stylesheet" type="text/css" href="https://raw.githubusercontent.com/jwarby/pygments-css/master/emacs.css">


<style type="text/css">
    a {
        text-decoration: none !important
    }
    pre { padding: 5px !important; margin-bottom: 10px !important }
    pre code { border: 0 !important }
</style>
</head>
<body>
    <div class="container">
                <div class="row">
            <div class="col-5">
                <h3 class="tac">AQA asm. snippets</h3>
                <p>Repository of helpful hints to help you with arbitrary half-BASIC half-ASM language known as AQA Assembler.</p>
            </div>
            <div class="col-7">
            <img src="http://0x16.cf/aqa-asm/front.png" class="stretch" style="height: 50% !important" />
            </div>
        </div>
        <hr>
        <div class="column">
      {{ content }}    
    </div>
       </div>      
</body>
</html>
